@page
@model Frontend.Pages.ViewModel
@{
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.1/knockout-latest.js"></script>
<script src="/js/view.js"></script>

<div class="container">
    <br><br>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Country</th>
            </tr>
        </thead>
        <tbody id="users-table">
        </tbody>
    </table>
</div>

